body {
    background: #222;
    font-family: "Francois One";
    color: #fff;
  }
  .filters {
    width: 200px;
    display: inline-block;
  }
  .filters li {
    list-style: none;
    cursor: pointer;
  }
  .book-details {
    width: 460px;
    background: #808080;
    position: absolute;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 4;
    display: none;
  }
  .book-details .caret {
    position: absolute;
    width: 30px;
    height: 30px;
    background: inherit;
    transform: rotate(45deg);
    top: -10px;
  }
  .book-details.active {
    display: block;
  }
  .content-offset {
    margin-left: 200px;
    width: 500px;
  }
  .book {
    width: 100px;
    height: 150px;
    position: relative;
    z-index: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #b6defa;
  }
  .book:after {
    content: attr(id);
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .book.fiction {
    background: #3209ba;
  }
  .book.romance {
    background: #ba8012;
  }
  .book.scifi {
    background: #34de49;
  }
  .book.ya {
    background: #de0344;
  }
  #lorem {
    display: none;
  }
  